body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.container-fluid {
  background-color: white;
  overflow: hidden;
  min-width: 200px;
}

.menu {
  display: none;
}
 
.menu-barre {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  padding: 0 10px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.icone {
  font-size: 2rem;
  cursor: pointer;
}

.scroll-view {
  display: block;
  overflow-y: scroll;
}

.conversation, .contacts {
  display: flex;
  position: relative;
  flex-direction: column;
}

.contacts-list {
  width: auto;
  background-color:#eee;
  border-bottom: 1px solid rgb(218, 216, 216);
}

.contact {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 95%;
  margin: 15px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray;
  border: 1px solid rgb(218, 216, 216);
  cursor: pointer;
}

.contact--info {
  margin-left: 10px;
  line-height: 25px;
}

.contact--message {
  font-size: .8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.contact--date {
  position: absolute;
  top: 15px;
  right: 10px;
}

.contact--name {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.contact--image, .message-send--image img, .message-receive--image img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: .5px solid lightgray;
}

.contacts-barre {
  display: flex;
  flex-direction: row;
  height: 80px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.conversation-barre {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.conversation-barre--icone {
  display: block;
  margin-left: -5px;
  font-size: 1.4rem;
}

.conversation-bloc {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 70px;
  align-items: center;
}

.conversation-bloc--info {
  width: 80%;
  margin-left: 10px;
}

.conversation-bloc--name {
  font-size: 14px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}

.conversation-bloc--statu {
  font-size: 12px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contacts-barre {
  background-color: #eee;
  border-bottom: 1px solid rgb(218, 216, 216);
}

.contacts-barre div.col {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contacts-barre--menu {
  position: relative;
  width: 80%;
}

.contacts-barre--icone {
  display: block;
}

.conversation {
  display: none;
  position: relative;
  border-left: 1px solid rgb(218, 216, 216);
}

.messages {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.message {
  position: relative;
  display: block;
  width: auto;
  padding: 10px 0;
}

.message--date {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.message-send--image, .message-receive--image {
  display: flex;
  position: absolute;
  bottom: 10px;
}

.message-send--image {
  right: 10px;
}

.message-receive--image {
  left: 10px;
}

.message-receive {
  position: relative;
  display: block;
  max-width: 50%;
  margin-left: 70px;
  background-color:#eee;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-bottom: 30px;
}

.message-send {
  position: relative;
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: 70px;
  background-color: blue;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding-bottom: 30px;
}

.message-editor {
  position: absolute;
  bottom: 0;
  height: 70px;
  background-color:white;
  border-top: 1px solid #eee;
}

.input-message {
  border: 0px;
}

.input-message:focus {
  outline: 0;
}

@media screen and (min-width: 768px) {
  .menu {
    display: block;
  }

  .menu-barre {
    display: none;
    height: 50px;
  }

  .contacts-barre--icone {
    display: none;
  }
}

@media screen and (min-width: 575.1px) {
  .conversation {
    display: block;
  }

  .conversation-barre--icone {
    display: none;
  }
}
